<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqEh-RAESGFC_2uwfB0gNrI05_DEBGW6E</string>
	<key>GCM_SENDER_ID</key>
	<string>584508581209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bandit.FireGate</string>
	<key>PROJECT_ID</key>
	<string>firegate-5c23d</string>
	<key>STORAGE_BUCKET</key>
	<string>firegate-5c23d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584508581209:ios:2a5fa7730b4d81407f5848</string>
</dict>
</plist>